<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Payment Success</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
</head>
<body>

<div>
    <h2 th:text="${message}"></h2>
</div>

<!-- Display order summary -->
<div th:if="${order != null}">
    <h3>Order Summary</h3>
    <p>Order ID: <span th:text="${order.id}"></span></p>

    <!-- Display products and quantities -->
    <table class="table">
        <thead>
        <tr>
            <th>Product</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Total Cost</th>
        </tr>
        </thead>
        <tbody>
        <!-- Iterate over order products -->
        <tr th:each="orderProduct : ${order.orderProducts}">
            <td th:text="${orderProduct.product.name}"></td>
            <td th:text="${orderProduct.quantity}"></td>
            <td th:text="${orderProduct.product.price}"></td>
            <td th:text="${orderProduct.product.price * orderProduct.quantity}"></td>
        </tr>
        </tbody>
    </table>
</div>

<a th:href="@{/homeLogin}" class="btn btn-secondary">Back to Home</a>

</body>
</html>