<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>

    <session-factory>
        <!-- Configuration pour la base de données -->
        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/mydb</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">cytech0001</property>
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.format_sql">true</property>

        <!-- Mapping des entités -->
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="hibernate.current_session_context_class">thread</property>
        <mapping resource="Command.hbm.xml"/>
        <mapping class="Entity.Command"/>
        <mapping resource="CommandLine.hbm.xml"/>
        <mapping class="Entity.CommandLine"/>
        <mapping resource="User.hbm.xml"/>
        <mapping class="Entity.User"/>
        <mapping resource="Product.hbm.xml"/>
        <mapping class="Entity.Product"/>
        <mapping resource="Category.hbm.xml"/>
        <mapping class="Entity.Category"/>
        <mapping class="Entity.Basket"/>
        <mapping resource="Basket.hbm.xml"/>


    </session-factory>

</hibernate-configuration>
